@charset "UTF-8"; 

* { 
  margin: 0; 
  padding: 0 ; 
  list-style: none; 
  text-decoration: none; 
} 



body {
	background-color: #fff;
	background-repeat: no-repeat;
	height: auto;
	width: auto; 
	background-size: cover;
}



header {
	background-color: #fff;
	padding: 0 0 0 0 ;
	display: flex;
	width: 100%;
	position: fixed;
	z-index: 100;
}

/*header img {
	background-color: #ecf7f6;
	display: block;
	margin: 0 0 0 43 ;
	height: 15px;
	flex:
}*/



#head { 
	background-color: #ecf7f6;
	width: 40%;
	min-width: 400px; 
	display: flex;
	margin: 0 20px 0 0;
}

#name { 
	/*width: 55%;*/
	height: 11px;
	margin: 36px 0px 23px 45px;	
	text-align: center;
} 

#instagram { 
	/*width: 16%;*/
	height: 14px;
	margin: 35px 0px 26px 25px;	
	text-align: center;
} 

#twitter { 
	/*width: 17%;*/
	height: 14px;
	margin: 35px 0px 26px 25px;	
	text-align: center;
	/*color: #0c3249;*/
} 

#facebook { 
	/*width: 12%;*/
	height: 15px;
	margin: 34px auto 21px 25px;	
	text-align: center;
} 


#head ul li a { 
	fill: #0c3249;
}

#head ul li a:hover { 
	fill: #63bfc3; 
} 

.sns { 
	/*color: #fff;*/ 
	display: block; 
	/*margin: 50 40;
	width: 50%;*/
} 

#head ul { 
	display: flex; 
}



.main-menu { 
	font-family: 'Zen Maru Gothic', sans-serif;
	width: 60% ;
	min-width: 600px
} 

.main-menu ul {
	display: flex; 
	justify-content: flex-end;
	margin-right: 20px;
}

.main-menu ul li { 
	text-align: center; 
	font-size: 14px;
	display: block; 
	margin: 30px 35px 26px 35px ; 
} 
 
.main-menu ul li a { 
	color: #666; 
} 
 
.main-menu ul li a:hover { 
  color: #a1c7c7; 
	} 
	
/*-----------------------------------------------仕切り線*/
	
	
	
	#wrap{
		width: 60%;
		max-width: 720px;
		margin: 0 auto;
		padding: 12% 0 20% 0;
		font-family: "Helvetica Neue",
				Arial,
				"Hiragino Kaku Gothic ProN",
				"Hiragino Sans",
				Meiryo,
				sans-serif;
	}
	
	h1 {
		color: #000;
		font-size: 22px;
		font-weight: bold;
		margin: 30px 0 ;
	}
	
	h2 {
		color: #000;
		font-size: 20px;
		font-weight: 400;
		margin: 70px 0 12px 0;
	}
	
	article {
		color: #666;
		font-size: 12px;
		font-family: "Hiragino Kaku Gothic ProN",
				"Hiragino Sans",
				Meiryo,
				sans-serif;
		font-weight: normal;
		text-align: left;
		height: 100%;
	}
	
	
	
/*-----------------------------------------------仕切り線*/
	
	
	
	#ImgSet { 
		display: flex;
	} 
	
	#ImgSet img {
		width:93%;
		height:93%;
		background-color: #bbddcc;
		padding: 2%;
	}
	
	
	
/*-----------------------------------------------仕切り線*/
	
	
	
	
	
	
/*-----------------------------------------------仕切り線*/

	

	footer { 
		background-color: #ecf7f6;
		width: 100%;
		height: 55px;
		z-index: 200;
	}
	footer p {
		color: #0c3249;
		font-size: 13px;
		padding: 21px 0;
		font-family: 'Zen Maru Gothic', sans-serif;
		text-align: center;
	}